$blockSize: 80px;

.field {
  & > div {
    display: flex;

    & > span {
      display: block;
      width: $blockSize;
      height: $blockSize;
      border: 1px solid;
      border-radius: 5px;
      text-align: center;
      font-size: $blockSize / 2;
      line-height: $blockSize;
      margin: 6px;

      cursor: pointer;
      background-color: var(--layer1secondary);
      color: var(--layer1primary);

      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        animation: shake-block 0.3s;
      }

      &.active {
        background-color: var(--layer2secondary);
        color: var(--layer2primary);
      }
    }
  }
}

@keyframes shake-block {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
