$blockSize: 80px;
$shakeAnimation: shake-block 0.3s;

.field {
  & > div {
    display: flex;

    & > span {
      display: block;
      width: $blockSize;
      height: $blockSize;
      border: 1px solid;
      border-radius: 5px;
      text-align: center;
      font-size: $blockSize / 2;
      line-height: $blockSize;
      margin: 6px;

      cursor: pointer;
      background-color: var(--layer1secondary);
      color: var(--layer1primary);
      transition: scale .3s;

      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        scale: 105%;
      }

      &.active {
        background-color: var(--layer2secondary);
        color: var(--layer2primary);
      }

      &.blocked {
        animation: $shakeAnimation;
      }
    }
  }
}

@keyframes shake-block {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
