:root {
  --backgroundMain: #162638;
  --layer1primary: #2B486B;
  --layer2primary: #497BB8;
  --layer1secondary: #8199B8;
  --layer2secondary: #5C6E84;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--backgroundMain);
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
