:root {
  --backgroundMain: #005E29;
  --layer1primary: #44E389;
  --layer2primary: #00DE60;
  --layer1secondary: #286141;
  --layer2secondary: #00AD4B;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--backgroundMain);
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
